*{
    padding: 0;
    margin: 0;
}

body{
  font-family: "Young Serif", serif;
}
 
.container{
    padding:50px;
}

.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact{
    background-color: red;
    color:white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 10px;
}

.section-one__name{
    font-size: 60px;
}

.section-one__role{
    font-size: 30px;
    margin: 10px;
}

.section-two, .section-three, .section-four,.section-five{
    margin-top: 20px;
}

.section-two__desc, .section-three__desc, .section-four__desc,.section-five__desc{
    margin-top: 10px;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-five a{
    color: aqua;
}

.section-three li, .section-four li{
    list-style: none;
}

.section-three{
    background-color: #6462fd;
    color: black;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.section-four{
    background-color: #fe7517;
    color: black;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.contact-form{
    margin-top: 10px;
}

.contact-form__input{
 margin-top: 10px;
 border: none;
 border-bottom: solid black 1px;
}

.contact-form__textarea{
 margin-top: 10px;
 border: solid black 1px;
}

.contact-form__submit{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fe7517;
    color: black;
    border: none;
    border-radius: 25px;
}